<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Feed</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<h1 class="text-center"> Welcome to Your Feed</h1>

<!-- Search form for filtering Study Activities -->
<form th:action="@{/feed-search}" method="get">
    <div class="form-group">
        <input type="text" class="form-control" name="query" placeholder="Search study activities by title or description">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>

    <a href="/feed" class="btn btn-secondary mb-2 ml-2">Reset</a>
</form>

<!-- Button to go to Profile Page -->
<form th:action="@{/user}" method="get">
    <button class="btn btn-secondary" type="submit">Go to Profile</button>
</form>

<!-- Button to start a Study Activity -->
<form th:action="@{/studyactivity-create}" method="get">
    <button class="btn btn-primary" type="submit">Create a Study Activity</button>
</form>

<!-- Here below we can add content to the feed -->

<div th:switch="${studyactivity}">
    <h2 th:case="null">No StudyActivities yet!</h2>
    <div th:case="*">
        <h2>StudyActivities</h2>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>User</th>
                <th>Title</th>
                <th>Description</th>
                <th>SubjectID</th>
                <th>SubjectName</th>
                <th>Created on</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="studyactivity : ${studyactivity}">
                <td th:text="${studyactivity.user.name}"></td>
                <td th:text="${studyactivity.title}"></td>
                <td th:text="${studyactivity.description}"></td>
                <td th:text="${studyactivity.subjectID}"></td>
                <td th:text="${studyactivity.subjectName}"></td>
                <td th:text="${studyactivity.date}"></td>
                <td>   <!-- Button to go to study activity details page -->
                    <form th:action="@{/studyactivity-details/{id}(id=${studyactivity.id})}" method="get">
                        <button class="btn btn-info" type="submit">View Details</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
