<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to EMI</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body class="text-center">
    <h1>Welcome to EMI</h1>
    <button class="btn btn-primary" id="signInButton">Sign In</button>
    <button class="btn btn-secondary" id="signUpButton">Sign Up</button>

    <script>
        document.getElementById('signInButton').addEventListener('click', function(){
            window.location.href = '/login';
        });

        document.getElementById('signUpButton').addEventListener('click',function(){
            window.location.href = '/sign-up';
        })
    </script>
</body>
</html>