<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to EMI</title>
</head>
<body>
    <h1>Welcome</h1>
    <button id="signInButton">Sign In</button>
    <button id="signUpButton">Sign Up</button>

    <script>
        document.getElementById('signInButton').addEventListener('click', function(){
            window.location.href = '/login';
        });

        document.getElementById('signUpButton').addEventListener('click',function(){
            window.location.href = '/sign-up';
        })
    </script>
</body>
</html>