<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
<h1>Create New User Profile</h1>
<form id="userForm" th:action="@{/api/signup}" method="post" th:object="${user}">
  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></div>
    <label for="name">Name: </label>
    <input type="text" id="name" th:field="*{name}" required/> <br><br>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></div>
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required/><br><br>

    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></div>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required/><br><br>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required/><br><br>

    <button type="submit">Create User</button>
</form>

<script>
  document.getElementById('userForm').addEventListener('submit',function(event) {
      event.preventDefault();

      const name = document.getElementById('name').value;
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const confirmPassword = document.getElementById('confirmPassword').value;

      const emailPattern = /^[\w-\.]+@hi\.is$/;
      const passwordPattern = /^(?=.*[a-zA-Z])(?=.*\d)[A-Za-z\d]{10,}$/;

      if (!emailPattern.test(email)) {
          alert('Email must be a University of Iceland address.');
          return;
      }

      if (!passwordPattern.test(password)) {
          alert('Password must be at least 10 characters long and contain both letters and numbers.')
          return;
      }

      if (password !== confirmPassword) {
          alert("Passwords must match.");
          return;
      }

      document.getElementById('userForm').submit();
  })
</script>


</body>
</html>