<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudyActivity Details</title>
</head>
<body>
<h1>This is your StudyActivity</h1>
<p>Title: <span th:text="${studyacitivity.title}"></span></p>
<p>Description: <span th:text="${studyacitivity.description}"></span></p>
<p>Date: <span th:text="${studyacitivity.date}"></span></p>
<p>Start: <span th:text="${studyacitivity.start}"></span></p>
<p>End: <span th:text="${studyacitivity.end}"></span></p>
<p>SubjectID: <span th:text="${studyacitivity.subjectID}"></span></p>
<p>SubjectName: <span th:text="${studyacitivity.subjectName}"></span></p>

<a href="/feed">Back to Feed</a>

</body>
</html>