<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudyActivity Create</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<h1 class="text-center">Create your StudyActivity</h1>
<form if="studyActivityForm" th:action="@{/api/studyactivity-create}" method="post" th:object="${studyactivity}">
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red;"></div>
    <label for="title">Title: </label>
    <input type="text" id="title" th:field="*{title}" required/> <br><br>

    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color:red;"></div>
    <label for="description">Descritpion: </label>
    <input type="text" id="description" th:field="*{description}" /> <br><br>

    <div th:if="${#fields.hasErrors('subjectID')}" th:errors="*{subjectID}" style="color:red;"></div>
    <label for="subjectID">SubjectID: </label>
    <input type="text" id="subjectID" th:field="*{subjectID}" required/> <br><br>

    <div th:if="${#fields.hasErrors('subjectName')}" th:errors="*{subjectName}" style="color:red;"></div>
    <label for="subjectName">Name of subject: </label>
    <input type="text" id="subjectName" th:field="*{subjectName}" required/> <br><br>

    <div th:if="${#fields.hasErrors('building')}" th:errors="*{building}" style="color:red;"></div>
    <label for="building">Select Building: </label>
    <select id="building" th:field="*{building}" required>
        <option value="" disabled selected>Select a building</option>
        <option th:each="building: ${T(is.hi.hbv501g.team20.Persistence.Enums.Building).values()}"
                th:value="${building.name()}";
                th:text="${building.toString()}"></option>
    </select>
    <div>
        <button class="btn btn-success" type="submit">Post</button>
        <a class="btn btn-black" href="/feed">Cancel</a>
    </div>
</form>
</body>
</html>