<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudyActivity Create</title>
</head>
<body>
<h1>Create your StudyActivity</h1>
<form if="studyActivityForm" th:action="@{/api/studyactivity-create}" method="post" th:object="${studyactivity}">
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red;"></div>
    <label for="title">Title: </label>
    <input type="text" id="title" th:field="*{title}" required/> <br><br>

    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color:red;"></div>
    <label for="description">Descritpion: </label>
    <input type="text" id="description" th:field="*{description}" /> <br><br>

    <div th:if="${#fields.hasErrors('subjectID')}" th:errors="*{subjectID}" style="color:red;"></div>
    <label for="subjectID">SubjectID: </label>
    <input type="text" id="subjectID" th:field="*{subjectID}" required/> <br><br>

    <div th:if="${#fields.hasErrors('subjectName')}" th:errors="*{subjectName}" style="color:red;"></div>
    <label for="subjectName">Name of subject: </label>
    <input type="text" id="subjectName" th:field="*{subjectName}" required/> <br><br>

    <div>
        <button type="submit">Post</button>
        <a href="/feed">Cancel</a>
    </div>
</form>
<table class="table table-striped table-bordered">
    <tr>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>title</th>
        <th>description</th>
        <th>subjectID</th>
        <th>subjectName</th>
        <th>Created At</th>
    </tr>
    <tr th:if="${#lists.isEmpty(studyactivity)}">
        <td colspan="5">No Records found. Add some...!</td>
    </tr>
    <tr th:each="studyactivity : ${studyactivity}">
        <td th:text="${studyactivity.date}"></td>
        <td th:text="${studyactivity.start}"></td>
        <td th:text="${studyactivity.end}"></td>
        <td th:text="${studyactivity.title}"></td>
        <td th:text="${studyactivity.description}"></td>
        <td th:text="${studyactivity.subjectID}"></td>
        <td th:text="${studyactivity.subjectName}"></td>
    </tr>
</table>
</body>
</html>