<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
    <button onclick="window.history.back()">Return to Feed</button>

    <h1>Welcome, <span th:text="${user.name}"></span>!</h1>
    <p>Your email: <span th:text="${user.email}"></span></p>
    <!-- Add more user details as needed -->
    <!-- <a href="/logout">Logout</a>  Logout link -->


    <div>
        <h2>Your Profile Picture</h2>
        <img id="picture" th:src="@{'/user/' + ${user.id} + '/profilePicture'}" alt="Profile Picture" width="150" height="150" />
    </div>

    <div>
        <h3>Change Profile Picture</h3>
        <form th:action="@{/api/uploadProfilePicture}" method="post" enctype="multipart/form-data">
            <input type="file" name="profilePicture" accept="image/*" required>
            <input type="hidden" name="userId" th:value="${user.id}">
            <button type="submit">Upload</button>
        </form>
    </div>

    <!-- Add the Settings button -->
    <div>
        <h3>Settings</h3>
        <form th:action="@{/settings}" method="get">
            <button type="submit">Go to Settings</button>
        </form>
    </div>
</body>
</html>